{% extends 'layout.html' %}

{% block body %}
	<center>
			<div class="container-pitch" style="margin-left:20px;margin-right:20px;padding:30px;">
				<span class="lead">
            In today's world where along with technical skills, people also require to be good with a certain
						non technical aspects, it becomes tough for you to learn so many things. A lot of times, you might
						wish to learn along with someone or have someone who is good at a particular field to guide you
						so that you know what's necessary to learn and what's not.<br><br>
						<b>Get Your Mentor</b> helps you form groups and find mentors to learn about various topics and find the right path
						to go about learning a particular topic. Members in your study group might not necessarily be from your same city
						or college, so this also increases your chances to know more people around the world, thereby helping you expand your network.<br><br>


						<h1>Why Get Your Mentor?</h1>
						Having a study group and a guide or a mentor would help you learn more efficiently and quickly
						as it would help you :<br>
						<ul>
							<li>Maintain the competitive spirit</li>
							<li>Not feel alone while learning</li>
							<li>Have a group with whom you can discuss about various doubts one might get</li>
							<li>Lastly, learn only what actually is necessary for you!</li><br><br>
						</ul>

						<h1>Pricing</h1><br>
						<div align="center" style="margin-left:400px">
						  <center>
						    <div class="col-sm-3" style="width: 150px;height: 200px;padding: 25px;border: 2px solid black; margin-right:100px; margin-bottom:20px;">
						  	   <h3 style="color:light blue;">Monthly Plan</h3><span class="lead">INR 250/-</span><br>
								</div>
								<div class="col-sm-3" style="width: 150px;height: 200px;padding: 25px;border: 2px solid black; margin-right:100px; margin-bottom:20px;">
						  	   <h3 style="color:light blue;">Annual Plan</h3><span class="lead">INR 2000/-</span><br>
								</div>
						  </center>
						</div>
						<br><br><br><br><br><br><br><br>
						If a group of more than 5 students join together, each student gets a 20% off on the monthly plan or a 10% off on the
						annual plan.
				</span>
			</div>
		</center>
{% endblock %}
