{% extends 'layout.html' %}

{% block body %}
		<center>

			<div class="container pitch" style="margin-left:20px;margin-right:20px;">
				<span class="lead">
            In today's world where along with technical skills, people also require to be good with a certain
						non technical aspects, it becomes tough for you to learn so many things. A lot of times, you might
						wish to learn along with someone or have someone who is good at a particular field to guide you
						so that you know what's necessary to learn and what's not.<br><br>
						Having a study group and a guide or a mentor would help you learn more efficiently and quickly
						as it would help you maintain the competitive spirit, not feel alone
						while learning, have a group with whom you can discuss about various doubts one might get and lastly, learn only what
						actually is necessary for you!<br><br>
				</span>
			</div>
		</center>
{% endblock %}
