<!DOCTYPE html>
<html lang="en">
    <head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="keywords" content="Build Alexa Skills, Build Google Assistant apps, alexa skills, alexa, google assistant skills, skill builder, build alexa skills without coding, build google assistant apps without coding">
		<meta name="author" content="Skeliton">
		<title>Thanks For Using Get Your Mentor<title>
    </head>
    <body>
		<center>
		    Thanks For Using Get Your Mentor! We'll get back to you soon with more information!
		</center>
    </body>
</html>
